body {
	background-color: salmon;
	font-size: 1.05em;
	font-family: sans-serif;
	margin: 30px;
	padding: 30px;
}


h1, h2, h3, h4 {
	color: whitesmoke;

}

h3 {
	text-decoration: underline;
}

a:link {
		color: dimgray;
}
a:visited {
	color: blueviolet;
} 

a:hover {
	background-color: gainsboro;
}

	/*
	a {
	  box-shadow: inset 0 0 0 0 salmon;
	  margin: 0 -.25rem;
	  padding: 0 .25rem;
	  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
	}

	a:hover {
	  box-shadow: inset 100px 0 0 0 purple;
	  color: white;
	}

	
	found this cool hover effect for links at:
	https://css-tricks.com/css-link-hover-effects
	Need to learn more about it. Don't really know the actual code.

	found out that the default  <!-- Content --> does not work in CSS. You have to use '/*'
	
div {
	background-color: gainsboro;
	width: 200px; 
	height: 150px;
}
Wow! Using this styling for all the div elements makes it really easy to see when I go overboard 
with div tags on all the pages, (the Dev Journey page looks especially awful with this active). 
Or I just need to be able to style better, lols.

*/

p {
	font-family: sans-serif; 
	color:  whitesmoke;
    display: block;
}

pre {
	font-size: .9em;
	font-family: sans-serif;
}

td img {
    width: 100%;

}

.lorem {
	color: mediumpurple;
	font-size: 1.05em;
	font-family: sans-serif;
	background-color:  #ffbf80;
	padding: 0px;
	margin: 0px;
}

.currentPage {
	background-color: yellow;
}

.tripperToy {
	text-align: right;
	/*text-decoration: underline; 
	works but don't like it just commenting it out for now*/
}

.Ads {
	align-items: right;
}

#PupsAndCats {
	font-size: 2em;
	color: mediumpurple;
	text-align: center;
	background-color:  #ffbf80;
}

#navBar {
	text font-family: sans-serif;
	background-color: mintcream;
	padding: 20px;
	text-align: center;
}

#lorem {
	background-color: dimgray;
	font-family: sans-serif;
	color: cornsilk;
	padding: 40px;
	text-align: center;
}


/*
From Pre Work Slides:
https://learnlayout.com/box-model.html

found this CSS site that helps explain CSS text and more!

https://www.tutorialrepublic.com/css-tutorial/css-text.php


CSS Hover Selectors:
https://www.w3schools.com/csSref/sel_hover.asp

https://www.w3schools.com/csSref/tryit.asp?filename=trycss_sel_hover2

CSS Color Picker:
https://www.w3schools.com/colors/colors_picker.asp
*/